* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'roboto';
  letter-spacing: 1px;
  color: #333;
  text-align: center;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: yellow;
}

a {
  text-decoration: none;
  color: inherit;
}

p + p {
  margin-top: 20px;
}

ul + ul {
  margin-top: 20px;
}
ul li {
  margin-left: 25px;
}
ul + p,
p + ul {
  margin-top: 20px;
}

.header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 30px;
}

strong {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.logo {
  float: left;
  font-size: 1.3em;
}

.social {
  font-size: 1.8em;
  text-decoration: none;
  border-bottom: 0px;
  display: inline-block;
}

nav {
  display: inline-block;
  float: right;
}

nav a {
  color: #000000;
  text-decoration: none;
}

p a {
  border-bottom 1px solid currentColor;
  color: blue;
  text-decoration: none;
}

p a:hover,
nav a:hover {
  border-bottom: 1px solid currentColor;
}

nav a.active {
  border-bottom: 1px solid #666;
}

nav a + a {
  margin-left: 15px;
}

.text-center {
  text-align: center;
}

section {
  display: block;
  width: 100%;
  margin: 30px 0px;
}

section.nav {
  margin-bottom: 30px;
}

.container {
  margin: 0px auto 0px;
  width: 60rem;
  max-width: 100%;
  text-align: left;
  display: block;
  height: auto;
  overflow: hidden;
}

.container.full {
  width: 100%;
}

.about-me .container{
  height: calc(100vh - 140px);
  display: table;
  text-align:center;
  font-size: 1.4rem;
}

.about-me .container p {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 80px;
}

.container + .container {
  margin-top: 40px;
}

.row {
  margin-left: -25px;
  margin-right: -25px;
  overflow: hidden;
  display: block;
}

.row + .row {
  margin-top: 50px;
}

.col-4 {
  width: 33.333333333%;
  padding-right: 25px;
  padding-left: 25px;
  float: left;
}

.col-6 {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
}

.fee-column {
  background-color: #efefef;
  min-height: 175px;
}

.fee {
  text-align: center;
  font-size: 3em;
  margin-top: 75px;
}

.form label {
  margin-bottom: 5px;
  display: block;
  font-size: .9em;
  color: #999;
}

.textbox:focus {
  outline: none;
}

.textbox {
  border: 1px solid #D0D0D0;
  font-size: 0.9rem;
  padding: 10px 14px;
  border-radius: 3px;
  outline:none;
  display: block;
  width: 100%;
}

.textbox.textarea {
  min-height:200px;
}

.button {
  display: inline-block;
  padding: 7px 17px 6px;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.5rem;
  cursor: pointer;
  -webkit-transition: All 0.5s cubic-bezier(0.4, 0.01, 0.1, 1);
  -moz-transition: All 0.5s cubic-bezier(0.4, 0.01, 0.1, 1);
  -o-transition: All 0.5s cubic-bezier(0.4, 0.01, 0.1, 1);
  -ms-transition: All 0.5s cubic-bezier(0.4, 0.01, 0.1, 1);
  transition: All 0.5s cubic-bezier(0.4, 0.01, 0.1, 1);
}

.button:hover {
  background-color:#333333;
  color: #ffffff;
}

.it-me {
  position: relative;
  float: left;
  margin-left: 35px;
}

nav {
  position: relative;
  float: right;
  margin-right: 35px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.profile-image {
  margin-bottom: 15px;
  max-width: 100%;
}

@media (max-width: 55em) {
  .col-6 {
    width: 100%;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0 10%;
  }
  .it-me,
  nav {
    margin: 0px;
  }
}

@media (max-width: 540px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  section + section {
    margin-top: 0px;
  }
  .about-me {
    margin-top: 0px;
  }
  .about-me .container p {
    display: block;
    margin-top: 150px;
    font-size: 1rem;
  }
  .logo {
    margin-bottom: 15px;
    display: block;
    float: none;
  }
  .col-6 {
    width: 100%;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0 8%;
  }
  nav a {
    border-bottom: 1px solid currentColor;
  }
  .button {
    float:none;
    margin-left: 4px;
  }
}
