* { margin: 0; padding: 0; }
body {
	font-family: 'source-code-pro', 'helvetica neue', sans-serif;
	letter-spacing: -1px;
	line-height:1.22em;
	background-color:#F0F0F0;
	color:#4D4D4D;
	text-align:center;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video
{
	font-size: 100%;
}

p {
	display: block;
	overflow:hidden;
	margin-bottom: 15px;
}

h1 {
   font-size:2em;
   margin-bottom: 25px;
}

.full-width {
	display: block;
	overflow:hidden;
}

.inner-wrap {
	width:600px;
	overflow:hidden;
	position:relative;
	margin:0px auto;
}

.button
{
	display: inline-block;
	padding: 18px 20px 15px 20px;
	border-radius: 6px;
	background-color: rgba(256,256,256,0.2);
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	font-family: 'source-code-pro';
	font-size: 1.1em;
	text-transform: uppercase;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	font-weight: 300;
	border: 3px solid #ffffff;
}
.button:hover {
	background-color: rgba(256,256,256,0.4);
}

.masthead {
	height:auto;
	width:100%;
	padding: 40px 0px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	background-color: rgb(256,256,256,0.1);
	color: #ffffff;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

.portrait {
	margin: 0px auto;
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}

.info {
	margin: 50px 0px;
	text-align: center;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}


.title {
	margin-bottom: 60px;
	font-size:1em;
}

.bottom {
	overflow: hidden;
	margin-bottom: 200px;
	text-align: center;
}

.bottom a.button {
	margin-top: 85px;
}

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	display: block;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity 1s linear;
}

.overlay.hide {
	opacity: 0;
}
@media (max-width: 400px) {
	.masthead {
		padding: 10px 0px;
	}
	.info {
		padding: 20px 0px;
		margin: 15px 0px;
	}
	.info h1 {
		margin-bottom: 20px;
	}
        span.subhead {
            font-size: .9em;
        }
	.bottom a.button {
		margin-top:40px;
		margin-bottom: 20px;
	}
}
@media (max-width: 960px) {
	.inner-wrap {
		width:90%;
	}
}

.wf-loading {
  visibility: hidden;
}